Angular/task1/node_modules
JavaScript/javascript_unittest/node_modules
JavaScript/javascript_unittest/coverage/

JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/base.css
JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/DOM.js.html
JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/base.css
JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/block-navigation.js
JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/DOM.js.html
JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/DOM.spec.js.html
JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/index.html
JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/prettify.css
JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/prettify.js
JavaScript/javascript_unittest/coverage/Chrome 80.0.3987 (Windows 10.0.0)/sorter.js