<div class="cli-class">
    <div class="card"style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">Component One</h5>
            <p class="card-text">Some quick example component created using CLI</p>
        </div>
    </div>
    <div class="card"style="width:18rem">
        <div class="card-body">
            <h5 class="card-title">Component One</h5>
            <p class="card-text">Some quick example component created using CLI</p>
        </div>
    </div>
    <div></div>
</div>